.oval {
    width: 250px;
    height: 20px;
    margin:0 auto;
    background: #e9337c;
    background-image: linear-gradient(to top right, #e9337c, black);
    -webkit-border-radius: 100px / 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
   
}
.oval::before{
    content:'';
    display: inline-block;
    width: 230px;
    height: 43px;    
    border-bottom: 3px solid #e9337c;
    border-radius: 50% / 30%;
}

.pillar{
   width: 220px;
   height: 170px;      
   margin:20px 10px;
   background:linear-gradient(to right, transparent, #aaa), url("../../assets/images/pillar1.jpg"); /* The image used */
   background-color: rgb(139, 167, 177);  
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover; 
    .pillar-text{       
        font-variant: small-caps;
        font-size: 2em;
        color:white;   
        padding:5px;    
    }   
    text-align: center;    
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-bottom: 3px solid #25BCF4;
}

.section{
    background-color: #2d2d2d;
    margin:10px;
    margin-bottom: 40px;
    padding: 10px;
}

.section-header{
    margin-left:2px;
    margin-top:5px;
    font-variant: small-caps;
}

.list-item{
   // border-bottom: 1px solid #aaa;
    margin: 5px;
    
    padding:20px;
    border-bottom: 1px solid #333333;
    .item-title{
        margin: 5px 0;
    }
    .opened{
       
    }
    .details{
        display:none;       
        padding:20px;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
        
    }
    i{
        display: none;
    }
}