<div class="row section-header">
  <div class="col-12">
    <h3>Pillars</h3>
  </div>
  <div class="col-12">
      <div class="add-button">
        <button type="button" class="btn primary-button float-right">Add Pillar</button>
      </div>
    </div>
</div>
<div class="row justify-content-around align-items-center section">
  
    <div class="col-auto">
      <div class="pillar">
        <div class="pillar-text">
          Education
        </div>
        
    </div>
  </div>
  <div class="col-auto">
    <div class="pillar">
      <div class="pillar-text">
       The Environment
      </div>
      
  </div>
</div>
<div class="col-auto">
  <div class="pillar">
    <div class="pillar-text">
     Physical Activity
    </div>
    
</div>
</div>
</div>
<div class="row section-header">
  <div class="col-12">
    <h3>Initiatives</h3>
  </div>
  <div class="col-12">
      <div class="add-button">
        <button type="button" class="btn primary-button float-right" >Add Initiative</button>
      </div>
    </div>
</div>
<div class="row section">
    
   <div class="col-12" *ngFor="let item of list; let i = index">
     <div class="list-item">
     
         <div class="row justify-content-between align-items-center" (click)="toggleDetails(i)" [class.opened]="item.display">
            <div class="col-auto item-title" > 
                {{item.title}}
              </div>
              <div class="col-auto">
                  <i class="fas fa-angle-down" [class.show-me]="!item.display"></i>
                  <i class="fas fa-angle-up" [class.show-me]="item.display"></i>
              </div>
         </div>
         <div class="row">
            <div class="col-12 details" [class.show-me]="item.display" >
                {{item.type}} , {{item.status}}
              </div>
          </div>
       
       
          
     </div>
     
   </div>
</div>