<div class="side-list">       
        
      <a [routerLink]="['/vision']" [routerLinkActive]="'isActive'">
        <div class="side-link">
          <i class="fas fa-burn"></i>
          <span class="link-text">Vision</span>
        </div>  
      </a>
       
      <a [routerLink]="['/events']" [routerLinkActive]="'isActive'">
        <div class="side-link">
          <i class="far fa-calendar-check"></i>
          <span class="link-text">Events</span>
        </div>
      </a>
          
      <a [routerLink]="['/stories']" [routerLinkActive]="'isActive'">
        <div class="side-link">
          <i class="fas fa-book"></i>
          <span class="link-text">Stories</span>
        </div>  
      </a>
      <a [routerLink]="['/campaigns']" [routerLinkActive]="'isActive'">
        <div class="side-link">
          <i class="fas fa-bullseye"></i> 
          <span class="link-text">Campaigns</span>
        </div>  
      </a>
      <a [routerLink]="['/impact']" [routerLinkActive]="'isActive'">
        <div class="side-link">
          <i class="fas fa-chart-line"></i>
          <span class="link-text">Impact</span>
        </div>  
      </a>
      <a [routerLink]="['/profile']" [routerLinkActive]="'isActive'" class="side-social">
        <div class="side-link">
          <i class="fas fa-user-circle"></i>
          <span class="link-text">Profile</span>
        </div>  
      </a>
     <!--  <div class="side-social">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github-square"></i></a>
      </div> -->
</div>
